body{background: url("../images/登录Bj_02.jpg")}
.panel{height:806px; padding-top:134px; overflow:hidden;}
.logo img{display:block;}
.main{height: 568px; padding: 0 89px;}
.login{height: 369px; border-bottom:2px solid #b3b2b2;}
.loginL{padding:57px 0 0 23px; width: 280px; float: left; background: #f1f1f1; height: 239px;}
.login input.username,.login input.password{padding-left: 52px; float: left; width: 226px; height: 38px; background-color:#f5f5f5; background-repeat: no-repeat; background-color:  border:1px solid #ccc; border-radius: 2px; margin-bottom:9px;}
.login input.username{background-image: url("../images/登录input_03.jpg");}
.login input.password{background-image: url("../images/登录input_06.jpg");}
.loginL p{line-height: 54px; text-align: center;}
.loginL .entry{float: left; width: 278px; height: 38px; border:1px solid #ccc; border-radius: 2px; background:#5a8ec4; color: #fff; letter-spacing: 1em; font-size: 18px;}
.loginR{float: right; width:371px; height: 196px; background: url("../images/登录BJ_03.jpg"); padding: 100px 0 0 148px; font-size: 14px;}
.loginR a{color: #5a8ec4;}