.mainL728 .newBody h2{height: 56px; line-height:56px; font-size:18px; border-bottom:1px solid #ccc; text-align: center;}
.mainL728 .newBody .subTitle{line-height:44px; text-align: center; color:#666;}
.mainL728 .newBody .instruction{line-height: 58px; color: #333;}
.mainL728 .newBody .mainP{margin-bottom:20px; border-bottom: 1px solid #ccc;}
.mainL728 .newBody .mainP p,.mainL728 .newBody .mainP h4{line-height:30px; font-size: 12px; color:#333;}
.mainL728 .newBody .mainP p{text-indent:2em; margin-bottom: 22px;}
.mainL728 .newBody .latest{height: 80px; padding-top:22px;}
.mainL728 .newBody .latest .pre,.mainL728 .newBody .latest .next{float: left;margin-right: 50px;}
.mainL728 .newBody .latest input{width: 63px; height: 30px; background: #5a8ec4; color: #fff; border: none; border-radius: 3px; display:inline-block; margin-right: 7px;}
.mainL728 .newBody .latest a{color: #333;}